/*navigation bar*/
body {
    margin: 0;
    background-color: #feecd4;
}

.nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: bisque;
    opacity: 1;
}

.item {
    display: block;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}


.item:hover {
    background-color: rgb(255, 201, 234);
    transition-duration: 0.5s;
}

.nav .icon {
  display: none;
}




/*dropdown for games*/
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    background-color: bisque;
    transition-duration: 0.5s;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropContent {
    display: none;
    position: absolute;
    background-color: #fae0f7;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    font-size: 1.5em;
}


.dropContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition-duration: 0.5s;
}

.dropContent a:hover {
    transition-duration: 0.5s;
    background-color: #e1c9de;
}

.dropdown:hover .dropContent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(255, 201, 234);
    transition-duration: 0.5s;
}




/*responsive navbar and drop down*/

@media screen and (max-width: 600px) {
    .nav {
        position: static;
    }

    .item {
        float: none;
        text-align: center;
    }

    .dropdown {
        float: none;
        width: 100%;
        text-align: center;
    }

    .dropContent {
        position: relative;
    }

    .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: center;
    }

}




/*Home page*/

/*About website*/
.about_website {
    margin-top: 56px;
    padding-top: 160px;
    text-align: left;
    padding-left: 12%;
    padding-bottom: 15%;
    background-image: url('kawaii.wallpaper2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}




.title {
    color: black;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    font-family: 'aref ruqaa';
}

.tagline {
    color: black;
    font-style: italic;
    font-size: 2em;
    font-family: 'aref ruqaa';
    opacity: 1;

}

.aboutweb_text {
    color: black;
    width: 70%;
    font-size: 1.1em;
}


/*resize for phones for better feel (not the best but i cant quite figure out why)
It might just not translate well for phone the way i made the site*/
@media screen and (max-width: 600px) {
    .about_website {
        margin-top: 0;
        padding-left: 8%;
    }

    .title {
        font-size: 2.5em;
    }

    .tagline {
        font-size: 1.5em;
    }

}


/*About me*/
.subtitle {
    text-align: center;
    font-size: 3em;
}


.about_me {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 500px auto;
    align-items: center;
    gap: 20px;

}

.myImage {
    object-fit: cover;
    margin-left: 20px;
    border-radius: 15px;
}


/*about me text*/
.me_object2 {
    padding-left: 10px;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 5px 10px 10px #011632;
}

.about_text_litteraly {
    color: crimson;
    font-family: Arial;
}

.me {
    font-size: 3em;
    font-family: Arial;

}









/*footer*/

.bottom_page {
    margin-top: 10px;
    text-align: center;
    border-top: 1.5px solid #e4ddd3;
}

.center {
    margin: auto;
}

.contacts {
    text-decoration: none;
    color: black;
}