/*navigation bar*/
body {
    margin: 0;
    background-color: #feecd4;
}



.nav {
    overflow: hidden;
    background-color: bisque;
}


.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    transition-duration: 0.7s;

}


.nav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-family: 'Times New Roman';
    font-size: 1.5em;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    margin: 0;
    background-color: bisque;
    transition-duration: 0.7s;

}

.dropContent {
    display: none;
    position: absolute;
    background-color: #fae0f7;
    min-width: 160px;
    z-index: 1;
    transition-duration: 0.7s;
}

.dropContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(255, 201, 234);
    color: black;
    transition-duration: 0.7s;
}

.dropContent a:hover {
    background-color: rgb(255, 201, 234);
    color: black;
    transition-duration: 0.7s;
}

.dropdown:hover .dropContent {
    display: block;
}



@media screen and (max-width: 600px) {

    .nav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav.responsive .dropdown {
        float: none;
    }

    .nav.responsive .dropContent {
        position: relative;
    }

    .nav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}





/*Home page*/

/*About website*/
.about_website {
    padding-top: 160px;
    text-align: left;
    padding-left: 12%;
    padding-bottom: 15%;
    background-image: url('kawaii.wallpaper2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}




.title {
    color: black;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    font-family: 'aref ruqaa';
}

.tagline {
    color: black;
    font-style: italic;
    font-size: 2em;
    font-family: 'aref ruqaa';
    opacity: 1;

}

.aboutweb_text {
    color: black;
    width: 70%;
    font-size: 1.1em;
}


/*resize for phones for better feel (not the best but i cant quite figure out why)
It might just not translate well for phone the way i made the site*/
@media screen and (max-width: 600px) {
    .aboutweb_text {
        width: 90%;
    }

    .about_website {
        margin-top: 0;
        padding-left: 8%;
    }

    .title {
        font-size: 2.5em;
    }

    .tagline {
        font-size: 1.5em;
    }

}


/*About me*/
.subtitle {
    text-align: center;
    font-size: 3em;
}


.about_me {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 500px auto;
    align-items: center;
    gap: 20px;

}

.myImage {
    object-fit: cover;
    margin-left: 20px;
    border-radius: 15px;
}


/*about me text*/
.me_object2 {
    padding-left: 10px;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 5px 10px #011632;
}

.about_text_litteraly {
    color: crimson;
    font-family: Arial;
}

.me {
    font-size: 3em;
    font-family: Arial;

}


@media screen and (max-width: 600px) {
    .about_me {
        grid-template-columns: auto;
    }

}







/*footer*/

.bottom_page {
    margin-top: 10px;
    text-align: center;
    border-top: 1.5px solid #e4ddd3;
}

.center {
    margin: auto;
}

.contacts {
    text-decoration: none;
    color: black;
}



/*paint programme*/


.container {
    margin-top: 20px;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-picker {
    width: 100%;
    height: 50px;
}

#canvas {
    border: 1px solid black;
    cursor: pointer;
}

